/*article*/

.article-info {
  margin-bottom: 30px;
  background-color: #ebebeb;
}

.article-card {
  margin-top: 15px;
  border-radius: 15px;
}

.article-body {
  border-radius: 0 0 15px 15px;
  max-height: 10%;
}

/*img*/
img {
  margin-top: 30%;
  margin-bottom: 20%;
}

/*text p*/
p {
  color: gray;
}

/*buttons*/
.btns-article {
  margin-right: 20px;
}

.btn-step1 {
  border-radius: 50%;

}


.btn-step2 {
  border-radius: 50%;
}

#arrows {
  max-width: 15px;
}

/*sidebar*/
.sidebar-article {
  border: none;
  background: none;
  height: 4px;
  width: 12px;
  border-radius: 20px;
  padding: 0px;
  margin: 0 5px;
}

.dots {
  border: none;
  background: none;
  height: 5px;
  background-color: rgb(211, 208, 208);
  width: 5px;
  border-radius: 50%;
  padding: 0px;
  margin: 0 5px;
}



.side-dots .active {
  background-color: rgb(2, 2, 2);
}
