<body>
  <div class="container article-info ">
    @for (step of steps; track $index){
    @if($index === currentStep){

    <div class="article-info">
      <div [style.background-color]="step.bgcolor" class="article-card border-0 shadow" style="width: 272px;">
        <img [src]="step.img" [alt]="step.title" class="align-self-center"
          style="max-width: 280px;width: 280%; max-height: 155px; height: 180px;">
        <div class="article-body text-black bg-white" style="height: 18rem">
          <h5 class="article-text px-3 pt-3">
            {{step.title}}
          </h5>
          <p class="article-text px-3" style="font-size: 0.7rem;">
            {{step.description}}
          </p>

          <div class="card-buttons d-flex gap-5 ">

            <!-- Article sidebar-->
            <div class="side-dots px-3">
              @for(step of steps; track $index){
              @if($index === currentStep){
              <button class="sidebar-article btn border-0 m-0 p-0 " [class.active]="$index === currentStep"></button>
              }@else{
              <button (click)="nextArticle()" class="dots btn btn-step border-0 p-0"></button>
              }
              }
            </div>

            <!-- buttons article -->
            <div>
              @if(currentStep !== 0){
              <button (click)="previous()" class="btn btn-step1  btn-white border-secondary"><img id="arrows"
                  src="assets/svg/flecha-lbb.png" alt="arrow"></button>
              }
              @if(currentStep !== 2){
              <button (click)="nextArticle()" class="btn btn-step2  btn-dark border-secondary"><img id="arrows"
                  src="assets/svg/flecha-rw.png" alt="arrow" ></button>
              }
            </div>
          </div>
        </div>
      </div>
    </div>
    }
    }
  </div>

</body>
